<h1>Admin Use only</h1>
<h1>Create A New Provider</h1>

<form action="<%= providers_path %>" method="POST" >
    <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token" />

    <label for="email">email</label>
    <input type="text" name="email" id="email"/>

    <label for="username">username</label>
    <input type="text" name="username" id="username"/>

    <label for="name">name</label>
    <input type="text" name="name" id="name"/>

    <label for="state">state</label>
    <input type="text" name="state" id="state"/>

    <label for="city">city</label>
    <input type="text" name="city" id="city"/>

    <label for="state">state</label>
    <input type="text" name="state" id="state"/>

    <label for="postcode">postcode</label>
    <input type="integer" name="postcode" id="postcode"/>

    <label for="minimum_persons">minimum_persons</label>
    <input type="integer" name="minimum_persons" id="minimum_persons"/>

    <label for="cost_per_head">cost_per_head</label>
    <input type="integer" name="cost_per_head" id="cost_per_head"/>

  
    <input type="submit" value="Create" />
</form>

<p><%= link_to "Provider List", providers_path %></p>
