<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <div class="edited_email">
    <p>COMPANY NAME</p>
    <p>Dear User</p>
    <p>Welcome to COMPANY NAME</p>
    <p>Your email is %recipient%</p>


    
  </div>

  </body>
</html>