<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <div class="edited_email">
    <p>COMPANY NAME</p>
    <p>Dear Provider</p>
    <p>Welcome to COMPANY NAME</p>
    <p></p>


    <p>%recipient%</p>
    <p>%recipient_name%</p>
  </div>

  </body>
</html>