<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   <div class="edited_email">
    <p>COMPANY NAME</p>
    <p>Dear <%= @user.firstname %></p>
    <p>This is a confirmation that you have updated your user profile at COMPANY NAME</p>
    <p>If you did not make any changes to your account visit WEBPAGE and reset your password.</p>
    <p>%recipient%</p>
    <p>%recipient_name%</p>
  </div>

  <p>You have edited your profile!</p>
  </body>
</html>