<h1>Bookings</h1>

<ul>
  <% if booking.user_id == current_user %>
    <% @booking.each_with_index do |booking, index| %>
      <li>
        <%= booking.id %>
      </li>
    <% end %>
  <% end %>
</ul>