<%= render "shared/nav" %>

<div class="jumbotron">
  <h1 class="display-4">Company Name</h1>
  <p class="lead">This is an explanation of our company or some other text to entice the user to sign up, etc.</p>
  <hr class="my-4">
  <p>This is additional text.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
