
.card-wrapper {
  max-width: 100vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    border: 4px black solid;
  }
  .card-body {
    background: rgb(178, 232, 240);

  }

}