* {
  margin: 0px;
}

.card-wrapper {
  max-width: 90vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .card {
    border: 4px black solid;
    
    
  }
  .card-body {
    background: rgb(227, 240, 241);

  }

}