* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
}

.UserReviewWrapper {
  margin: 5px;



  .UserReview {
    border-bottom: 2px grey dotted;
    border-left: 2px grey solid;
    max-width: 960px;
  }
  p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    margin: 2px;
  }







}