
.show_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .show_wrapper1 {
   width: 70%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .booking_summary {
    width: 100%;
    height: 90%;
   

  }

}

.button-show {
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 40%;
  background-color: #008CBA;
}

.buttonshow4 {
    background-color: #e7e7e7; color: black;
    border: none;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 60%;
  }

.button-container1 {
  display: flex;


}

// .show_wrapper {
//   top: 50%;
//   margin-right: auto;
//   margin-left: auto;
//   -webkit-transform: translateY(-50%);
//           transform: translateY(-50%);
//   overflow: hidden;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border-radius: 0.1875rem;
//   box-shadow: 0px 0.1875rem 0.4375rem rgba(0, 0, 0, 0.25);
//   height: 100%;
//   width: 100%;
// }

// .show_wrapper1 {
//   padding: 2rem;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
  
//   background-repeat: no-repeat;
//   background-position: top center;
//   background-size: cover;
//   .heading--primary2 {
//     font-size: 1.999rem;
//     color: black;
//     width: 90%;
//   }

//   .booking_summary {
  
//     display:flex;
//     flex-direction: column;
//     width: 100%;
//   }


// }

// .button-show {
  
//   border: none;
//   color: white;
//   padding: 5px 10px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   width: 40%;
//   background-color: #008CBA;
// }

// .buttonshow1 {
  
//   width: 50%;
//   font-size: 16px;
// }

// .buttonshow4 {
//   background-color: #e7e7e7; color: black;
//   border: none;
//   color: black;
//   padding: 5px 10px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   margin: 4px 2px;
//   width: 60%;
// }