

.userprofile {
  border: 2px black solid;
  margin: 20px auto;
  padding: 0px 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  h2 {
    color: red;
    text-align: center;
  }
  p {
    margin: 5px;
  }
}

